rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth.uid != null;
    }
    
    match /accounts/{uid} {
          allow create: if isSignedIn();
          allow read, write: if isSignedIn() && request.auth.uid == uid;
    }

    match /ratings/{uid} {
          allow create: if isSignedIn();
          allow read, write: if isSignedIn();
    }
  }
}