.container *,
.container ::after,
.container ::before {
  box-sizing: border-box;
}
.container .checkbox {
  position: relative;
  display: block;
  float: left;
  min-width: 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #8a8a8a;
  transition: all 0.15s ease;
}
.container .checkbox svg {
  position: absolute;
  top: 2px;
  left: 2px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  transform: translate3d(0, 0, 0);
}
.container .checkbox + span {
  float: left;
  margin-left: 6px;
}
.container {
  user-select: none;
}
.container label {
  display: inline-flex;
  cursor: pointer;
}
.container input[type="checkbox"] {
  display: none;
  visibility: hidden;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}
.container input[type="checkbox"]:checked + .checkbox {
  background-color: #4f4f4f;
  border-color: #4f4f4f;
}
.container input[type="checkbox"]:checked + .checkbox svg {
  stroke-dashoffset: 0;
  transition: all 0.15s ease;
}
