
.about-apex{
    display: flex;
    flex-direction: column;
}
.about-apex > h1{
    font-size: var(--fs-3xl);
    text-align: center;
}
.about-apex > p{
    font-size: var(--fs-lg);
    max-width: 600px;
    text-align: center;
}
.number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--neutral);
    margin: 150px 0 200px;
}
.intro{
    padding: 0 100px;
}
.intro > h2{
    font-size: var(--fs-2xl);
    text-align: left;
    margin-top: 50px;
}
.intro > p{
    font-size: var(--fs-lg);
    text-align: left;
    margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
    .number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro{
        padding: 0 50px;
    }
    .intro > h2{
        text-align: center;
        margin-top: 50px;
    }
    .intro > p{
        text-align: center;
        margin-bottom: 50px;
    }
}
.all{
    display: flex;
    justify-content: center;
}
.hand{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
    width: 1000px;
}
.history{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: var(--neutral);
    border-radius: 50px;
    margin: 0 10px;
    padding: 15px;
}
.history > h1{
    font-size: var(--fs-2xl);
}
.history > p{
    font-size: var(--fs-lg);
    height: 350px;
    max-width: 350px;
    padding: 5px;
}
@media screen and (max-width: 768px) {
    .hand{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .history{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var(--neutral);
        border-radius: 50px;
        margin: 0 10px 20px;
        padding: 15px;
    }
    .history > h1{
        font-size: var(--fs-2xl);
    }
    .history > p{
        font-size: var(--fs-lg);
        height: 350px;
        max-width: 350px;
        padding: 10px;
    }
    
}