.errorLabel {
  color: var(--error);
  font-size: var(--fs-sm);
}

body {
	margin: 0;
	font-family: "Barlow";
    src: url("../assets/fonts/Barlow-Light.ttf");  
	font-weight: 100;
    font-style: normal;
}
  
h1{
	font-size: 40px;
}
.container {
	display: flex;
	height: 100vh;
	background-image: url("/public/assets/images/lang.jpg");
}
  
.logo{
	margin-right: 20px;
}
.left-half {
	flex: 1;
	padding: 20px;
	display: flex; 
	flex-direction: row; 
	border-right: 1px solid #095475;
}
  
.logo img {
	width: 100px; 
}

.errorLabel {
	color: red;	
	font-size: 12px;
}
  
.right-half {
	position: relative;
	flex: 1;
	padding: 20px;
}

.right-half p {
	font-size: 18px;
}

.new{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: bold;
}

.new p{
	font-size: 25px;
	
}

.form_card{
	margin: auto;
	text-align: center;
	width: 200px;
	font-size: 16px;
}

.input_grp {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
  }
  
.input_grp label {
	margin-bottom: 5px;
}
  
.input_grp input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
  
.form_card button {
	width: 50%;
	padding: 5px;
	background-color: #38bdf8;
	color: white;
	border: none;
	border-radius: 1px;
	cursor: pointer;
	font-weight: normal;
}
  
.form_card button:hover {
	background-color: #269ed1;
}
  
.reset{
	text-decoration: underline;
	font-weight: normal;
}

.welcome{
	font-weight: bold;
	font-size: 25px;
}


