.hero {
  padding: 30px 20px 40px;
  margin-bottom: 80px;
  text-align: center;
  background-color: var(--neutral);
  color: var(--base-content);
}
#price {
  font-size: var(--fs-2xl);
}

.payment {
  display: flex;
  justify-content: space-evenly;
  gap: 150px;
}

.payment_form {
  background-color: var(--neutral-light);
  padding: 10px 40px;
  margin: 50px 0 100px 0;
  border-radius: 15px;
  box-shadow: 10px 10px var(--neutral-hover);
}
img {
  margin: 0 0 0 110px;
  border-radius: 50px;
}
.payment_form > h3 {
  font-size: var(--fs-2xl);
  text-align: center;
  padding: 10px 0 0 0;
}
.gateway {
  font-size: var(--fs-xl);
  margin: 0 0 20px 0;
}
.info {
  display: flex;
  flex-direction: column;
}

.select_date {
  display: flex;
  flex-direction: row;
}
.date {
  cursor: pointer;
  margin: 0 0 0 5px;
}

.btn {
  text-align: center;
}
.btn > button {
  font-weight: 500;
  margin-top: 30px;
  padding: 0 70px;
}
.btn > button:hover {
  cursor: pointer;
  background-color: var(--primary);
}
label {
  margin: 5px 5px;
  font-weight: 600;
}
.input {
  border-radius: 15px;
  margin: 1px 1px 10px 0;
  padding: 0 0 0 10px;
  font-size: var(--fs-xl);
  font-weight: 400;
}
input {
  border-radius: 15px;
}

#popup {
  display: flex;
  flex-direction: column;
  margin: 150px 0 0 0;
  color: var(--neutral-hover);
  background-color: var(--primary-hover);
  padding: 40px;
  border-radius: 15px;
}

span {
  font-size: var(--fs-lg);
}
.date {
  border-radius: 10px;
}

a {
  margin: auto;
  text-align: center;
  max-width: 150px;

  color: var(--primary);
  background-color: var(--neutral);

  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 800;
  box-shadow: 10px 10px 30px 1px #1e293ba3;

  transition: box-shadow 0.3s, background-color 0.3s;
}
a:hover {
  background-color: var(--neutral-hover);
  box-shadow: 10px 10px 30px 6px #1e293ba3;
}

@media screen and (max-width: 800px) {
  .payment {
    flex-direction: column;
  }

  .payment_form {
    max-width: fit-content;
    margin: 30px auto;
  }
  #price {
    text-align: center;
  }
  #popup {
    text-align: center;
    margin: 0 100px;
  }
}
