.main {
    margin-top: 2%;
    margin-left: 10%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
}

.main h2 {
    font-size: var(--fs-xl);
    margin-bottom: 10px;
}

.main .pcard {
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 var(--primary);
    height: auto;
    width: 60%;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main .pcard table {
    border: none;
    font-size: 18px;
    height: 120px;
    width: 60%;
}

hr{
    width: 45%;
    margin-left: 0;
}

.sub hr{
    width: 22%;
    margin-left: 0;
}

.card {
	border-radius: 18px;
	display: block;
	position: relative;
	align-items: left;
	max-width: 400px;
    height: 230px;
    box-shadow: 1px 1px 8px 0 var(--primary);
}

.card-content {
	margin: 24px;
	text-align: left;
}

.plan-name {
	padding-top: 8px;
	font-size: var(--fs-xxl);
}

.content {
	text-align: left;
	justify-content: center;
	margin-top: 12px;
}

.description {
	margin-top: 32px;
	font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .main {
        margin: 2% 5%;
        font-size: 22px;
        width: 90%;
        padding: 0 5px;
    }

    .main h2 {
        font-size: 19px;
    }

    .main .pcard {
        width: 100%;
        padding: 10px;
    }

    .main .pcard table {
        font-size: 16px;
        height: auto;
        width: 100%;
    }

    hr {
        width: 100%;
    }

    .sub hr {
        width: 50%;
    }

    .card {
        max-width: 100%;
        height: auto;
    }

    .card-content {
        margin: 12px;
    }

    .plan-name {
        font-size: 20px;
    }

    .description {
        margin-top: 16px;
        font-size: 0.9rem;
    }
}