.hero {
  padding: 30px 20px;
  margin-bottom: 50px;
  text-align: center;
  background-color: var(--neutral);
  color: var(--base-content);
}
.hero > h1 {
  font-size: var(--fs-4xl);
  margin-bottom: 15px;
}
.hero > h2 {
  font-size: var(--fs-xl);
  margin: 0 auto 20px;
}
.hero > p {
  font-size: var(--fs-lg);
  margin: 0 auto 10px;
  max-width: 400px;
}

.priceList {
  padding: 0 20px;
  text-align: center;
}
.priceList > h2 {
  margin: 10px 0 30px;
  font-size: var(--fs-2xl);
}
.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
  max-width: 800px;
}
.card {
  display: flex;
  flex-direction: column;

  padding: 30px;
  border-radius: 15px;
  background-color: var(--neutral-light);

  box-shadow: 10px 10px 30px -10px #3948618c;
  width: 100%;
}
.card > h3 {
  margin: 0;
  font-size: var(--fs-xl);
}
.card > p.price {
  margin: 5px 0;
  font-size: var(--fs-3xl);
}

.individual {
  text-align: center;
  border-radius: 15px;
  background-color: var(--neutral-light);
  padding: 20px 0 40px 0;
  margin: 20px 440px;
}
.individual > h4 {
  margin: 0;
  font-size: var(--fs-xl);
}
.individual > h5 {
  margin: 0;
  font-size: var(--fs-lg);
}
.individual > a {
  margin: 15px 0;
}

ul {
  list-style: none;
  padding: 0;
}
ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
ul > li > p {
  margin: 0;
}

.difference {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  text-align: center;
  background-color: var(--info);
  padding: 10px 0 40px 0;
}

caption {
  font-size: var(--fs-3xl);
  color: var(--base-100);
}

tr,
th,
td {
  padding: 10px;
}

tr:nth-of-type(3) {
  background-color: var(--neutral-light);
}
tr:nth-last-of-type(2) {
  background-color: var(--neutral-light);
}

table {
  background-color: var(--neutral);
  box-shadow: 5px 5px 5px 5px var(--base-content);
  border-radius: 10px;
}

a {
  margin: auto auto 0;
  text-align: center;
  max-width: 150px;

  color: var(--primary);
  background-color: var(--neutral);

  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 800;
  box-shadow: 10px 10px 30px 1px #1e293ba3;

  transition: box-shadow 0.3s, background-color 0.3s;
}
a:hover {
  background-color: var(--neutral-hover);
  box-shadow: 10px 10px 30px 6px #1e293ba3;
}

@media screen and (max-width: 350px) {
}
