#description {
  text-align: center;
  background-color: var(--neutral);
  color: var(--base-content);
}

#card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
}

#monthly,
#yearly {
  padding: 30px;
  border-radius: 15px;
  background-color: var(--neutral-light);
}

#individu_course {
  text-align: center;
  border-radius: 15px;
}

#buy_monthly {
  margin: 50px 0 0 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
}

#individu_course li {
  margin: 0 auto;
  padding: 0 0 0 500px;
}
#difference {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

tr,
th,
td {
  border: black solid 1px;
  padding: 10px;
}

table {
  background-color: var(--neutral);
}

a {
  border: 0;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--neutral-hover);
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 800;
  box-shadow: 10px var(--base-content-hover);
}

@media screen and (max-width: 350px) {
}
