.main {
  appearance: none;
  border: none;
  cursor: pointer;

  font-family: inherit;
  color: inherit;

  display: flex;
  align-items: center;

  width: 100%;
  background-color: var(--neutral);
  padding: 8px 15px;
  font-size: var(--fs-md);

  transition: background-color 0.3s ease-in-out;
}
.main:hover {
  background-color: var(--neutral-hover);
}
.icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.icon.open {
  transform: rotate(0);
}
.icon > img {
  vertical-align: middle;
}
.main > p {
  text-align: left;
}
.main > p:last-of-type {
  margin-left: auto;
}
.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
.content.open {
  max-height: 1000px;
}
.content > .bar {
  display: flex;
  align-items: center;
  background-color: var(--neutral-light);
  padding: 7px 20px;
}
.content > .bar.para {
  flex-direction: column;
}
.content > .bar.para > p {
  padding: 10px;
  text-align: left;
  margin: 0;
}
.content > .bar:first-of-type {
  padding-top: 25px;
}
.content > .bar:last-of-type {
  padding-bottom: 25px;
}
.content > .bar > a {
  padding: 0 10px;
  margin: 0;
  text-align: left;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.content > .bar > a:hover {
  text-decoration: underline;
}
